<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ownerMapper">
  	
  	<!-- Owner 외부매핑 -->
  	<!-- mybatis-confog.xml에서 별칭설정을 해주었기때문에 type을 owner로 사용 가능 -->
	<resultMap type="owner" id="owner-resultmap">
		<id property="ownerId" column="owner_id"/>
		<result property="ownerPassword" column="owner_password"/>
		<result property="ownerName" column="owner_name"/>
		<result property="ownerPhone" column="owner_phone"/>
	</resultMap>
	
	<!-- product 외부매핑 -->
	<resultMap type="product" id="product-resultmap">
		<id property="itemId" column="item_id"/>
		<result property="itemName" column="item_name"/>
		<result property="itemPrice" column="item_price"/>
		<result property="categoryId" column="category_id"/>
		<result property="storeId" column="store_id"/>
		<result property="itemExpirationDate" column="item_expiration_date"/>
		<result property="itemCount" column="item_count"/>
		<result property="serverIndex" column="server_index"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>
	
	<resultMap type="board" id="board-resultMap">
		<id property="boardIndex" column="board_idx"/>
		<result property="boardTitle" column="board_title"/>
		<result property="boardDate" column="board_date"/>
		<result property="boardReadCount" column="board_read_count"/>
		<result property="boardContent" column="board_content"/>
		<result property="boardWriter" column="board_writer"/>
		<result property="boardCategory" column="board_category"/>
		<result property="boardCategoryName" column="board_category_name"/>
	</resultMap>
	
	<resultMap type="order" id="orderlist-resultmap">
      <constructor>
         <idArg column="order_number" javaType="_int"/>
         <arg column="customer_id" javaType="string"/>
         <arg column="store_id" javaType="_int"/>
         <arg column="item_id" javaType="_int"/>
         <arg column="order_count" javaType="_int"/>
         <arg column="order_date" javaType="Date"/>
         <arg column="order_status" javaType="_int"/>
         <arg column="item_name" javaType="string"/>
         <arg column="item_price" javaType="_int"/>
         <arg column="category_id" javaType="_int"/>
         <arg column="category_name" javaType="string"/>
         <arg column="store_name" javaType="string"/>
         <arg column="customer_name" javaType="string"/>
         <arg column="customer_phone" javaType="string"/>
      </constructor>
   </resultMap>
	
	<!-- 공통 sql문  -->
	<sql id="select-column-sql">owner_id, owner_password, owner_name, owner_phone</sql>
	<sql id="selectOwner-sql">
		select <include refid="select-column-sql"/>
		from pl_owner
	</sql>
  
 
  
  
  
  	<!--기본 sql문 -->
  	
  	<insert id="insertOwner" parameterType="owner">
  		insert into pl_owner (<include refid="select-column-sql"/>)
  		values (#{ownerId},#{ownerPassword},#{ownerName},#{ownerPhone})
  	</insert>
  	
  	<select id="selectOwnerById" parameterType="string" resultMap="owner-resultmap">
  		<include refid="selectOwner-sql"/>
  		where owner_id = #{ownerId}
  	</select>
  	
  	<delete id="deleteOwnerById" parameterType="string">
  		delete from pl_owner where owner_id=#{ownerId}
  	</delete>
  	
  	<update id="updateOwner" parameterType="owner">
  		update pl_owner set owner_id=#{ownerId}, owner_password=#{ownerPassword}, owner_name=#{ownerName},
  		owner_phone=#{ownerPhone}
  		where owner_id=#{ownerId}
  	</update>
  	
  	<select id="selectOwners" resultMap="owner-resultmap">
  		<include refid="selectOwner-sql"/>
  	</select>
  	
  	<select id="selectOwnersByName" parameterType="string" resultMap="owner-resultmap">
  		<include refid="selectOwner-sql"/>
  		where owner_name = #{ownerName}
  	</select>
  	
	<select id="selectCountOwners" resultType="_int">
		select count(owner_id) from pl_owner
	</select>
	
	<select id="selectCountProducts" resultType="_int" parameterType="string" >
		select count(server_index) from pl_server_item 
		where store_id=(select store_id from pl_store where owner_id=#{value})
	</select>
	
	<!-- 편의점 전체물품 조회 sql -->
	<select id="selectProductsPaging" parameterType="hashmap" resultMap="product-resultmap">
	select item_name, item_price, item_count, item_expiration_date, item_id, category_id, store_id 
	from(
			select ceil(rownum/#{contentPerPage}) page,item_name, item_price, item_count, item_expiration_date, item_id, category_id, store_id 
			from(	
				select e.item_name, e.item_price, d.item_count, d.item_expiration_date, e.item_id, e.category_id, d.store_id 
				from PL_ITEM_INFO e, PL_SERVER_ITEM d
				where d.store_id=(select store_id from PL_STORE where owner_id=#{ownerId}) and e.item_id = d.item_id
			)
	)
	where page = #{pageNo}
	</select>
	
	<!-- 물품이름으로 재고 검색하는 sql -->
	<select id="selectProductByName" parameterType="hashmap" resultMap="product-resultmap">
		select e.item_name, e.item_price, d.item_count, d.item_expiration_date, e.item_id, e.category_id, d.store_id 
				from PL_ITEM_INFO e, PL_SERVER_ITEM d
				where d.store_id=(select store_id from PL_STORE where owner_id=#{ownerId}) and e.item_id = d.item_id 
				and e.item_name like '%'||#{productName}||'%'
	</select>

	<!-- 물품 한개만 검색하는 sql -->
	<select id="selectOneProduct" parameterType="hashmap" resultMap="product-resultmap">
		select e.item_name, e.item_price, d.item_count, d.item_expiration_date, e.item_id, e.category_id, d.store_id, c.category_name
				from PL_ITEM_INFO e, PL_SERVER_ITEM d,pl_category c
				where d.store_id=(select store_id from PL_STORE where owner_id=#{ownerId}) 
				and e.item_id = d.item_id 
				and e.item_name = #{productName} 
				and c.category_id = e.category_id 
	</select>
	
	
	<!-- 물품 입고하는 sql -->
	<update id="updateInputProduct" parameterType="hashmap">
		update pl_server_item
		set item_count = #{resultCount}
		where store_id = (select store_id from PL_STORE where owner_id=#{ownerId}) 
		and item_id = #{itemId}
	</update>
	
	
	<select id="selectBoardsPaging" parameterType="_int" resultMap="board-resultMap">
		select board_idx, board_title, board_date, board_read_count, board_content, board_writer, board_category, board_category_name
		from (
			select ceil(rownum/10) page, board_idx, board_title, board_date, board_read_count, board_content, board_writer, board_category, board_category_name
			from (
				select board_idx, board_title, board_date, board_read_count, board_content, board_writer, board_category, board_category_name from pl_board where board_category=1 order by board_date desc
			)
		) where page = #{pageNo}
	</select>
	
	<select id="selectBoardCount" resultType="_int">
		select count(board_idx) from pl_board
	</select>
	
	<select id="selectBoardInfo" parameterType="_int" resultMap="board-resultMap">
		select board_idx, board_title, board_date, board_read_count, board_content, board_writer from pl_board where board_idx=#{index}
	</select>
	
	<select id="selectNotice" resultMap="board-resultMap">
		select board_idx, board_title, board_date, board_read_count, board_content, board_writer, board_category, board_category_name 
		from (select * from pl_board where board_category=2 order by board_date desc) where rownum between 1 and 3
	</select>
	
	<select id="selectCountOrders" resultType="_int" parameterType="string">
		select count(order_number) from pl_order
		where store_id = (select store_id from pl_store where owner_id=#{value})
	</select>
	
	
	<!-- 이거 수정해야함 -->
	<select id="selectOrdersPaging" parameterType="hashmap" resultMap="orderlist-resultmap">
		select order_number, customer_id, store_id, item_id, order_count, order_date, order_status,item_name, item_price, category_id, category_name,store_name,customer_name, customer_phone 
		from(
				select ceil(rownum/#{contentPerPage}) page,order_number, customer_id, store_id, item_id, order_count, order_date, order_status,item_name, item_price, category_id, category_name,store_name,customer_name, customer_phone 
				from(	
					select o.order_number, o.customer_id, o.store_id, o.item_id, o.order_count, o.order_date, o.order_status,i.item_name, i.item_price, i.category_id, t.category_name,s.store_name, r.customer_name, r.customer_phone  
      				from pl_order o, pl_item_info i, pl_category t, pl_store s, pl_customer r 
     				where o.item_id = i.item_id 
     				and i.category_id = t.category_id 
     				and o.store_id = s.store_id 
     				and o.customer_id = r.customer_id 
     				and s.store_id=(select store_id from PL_STORE where owner_id=#{ownerId})
     				and o.order_status = 1
				)
		)
		where page = #{pageNo}
	</select>
	<!-- 위에서 customerId받는거 웹에서 owner가 입력받아서 하는거 , hashmap에 cutomerId추가해야함(id로 입력말고 이름으로 입력받는지 물어보기) -->
	
	
	<select id="selectCountOrdersByName" resultType="_int" parameterType="hashmap">
		select count(order_number)
		from pl_order
		where store_id = (select store_id from pl_store where owner_id=#{ownerId})
		and customer_id = (select customer_id from pl_customer where customer_name=#{customerName})
	</select>
	
	<select id="selectOrdersByNamePaging" parameterType="hashmap" resultMap="orderlist-resultmap">
		select order_number, customer_id, store_id, item_id, order_count, order_date, order_status,item_name, item_price, category_id, category_name,store_name,customer_name, customer_phone 
		from(
				select ceil(rownum/#{contentPerPage}) page,order_number, customer_id, store_id, item_id, order_count, order_date, order_status,item_name, item_price, category_id, category_name,store_name,customer_name, customer_phone 
				from(	
					select o.order_number, o.customer_id, o.store_id, o.item_id, o.order_count, o.order_date, o.order_status,i.item_name, i.item_price, i.category_id, t.category_name,s.store_name, r.customer_name, r.customer_phone  
      				from pl_order o, pl_item_info i, pl_category t, pl_store s, pl_customer r 
     				where o.item_id = i.item_id 
     				and i.category_id = t.category_id 
     				and o.store_id = s.store_id 
     				and o.customer_id = r.customer_id 
     				and s.store_id=(select store_id from PL_STORE where owner_id=#{ownerId})
     				and o.order_status = 1
     				and r.customer_name = #{customerName}
				)
		)
		where page = #{pageNo}
	</select>
</mapper>































