<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="kr.or.kosta.pl.vo, kr.or.kosta.pl.controller, kr.or.kosta.pl.service, kr.or.kosta.pl.dao"/>
	<mvc:annotation-driven/>
		<!-- <mvc:message-converters>
		return값을 Http응답 데이터로 변환해주는 Bean - HttpMessageConverter
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"
				   c:defaultCharset="UTF-8"/>
		</mvc:message-converters>
	</mvc:annotation-driven> -->
	<!-- 링크처리 -->
	<mvc:view-controller path="/member/request.do" 
			view-name="/WEB-INF/view/ajax_request.jsp" />
</beans>














